<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>类目侧滑模块</title>
    <link rel="stylesheet" type="text/css" href="less/all.css">
    <link rel="stylesheet" type="text/css" href="js/lib/sideSlip/css/sideSlip-min.css">
    <script type="application/javascript" src="js/lib/iscroll/iscroll-real.js"></script>
</head>
<body id="J_SideSlip">
<input type="hidden" id="dispatcher" value="home">
<header data-index="0">
    <a href="javascript:;" id="J_SideSlipBtn" class="medical-btn" data-url="sideSlip,medical-cx-fix,medical-cx-tooth,medical-cx-root,medical-cx-laser,medical-cx-laugh,medical-cx-orthodontics,medical-cx-child,medical-cx-periodontal,medical-cx-beauty"><img src="js/lib/sideSlip/images/menu.png"></a>
    <a href="javascript:;" class="logo-link"><img src="img/up2.png"></a>
</header>
<div class="beauty-module J_MedicalModule">
    <div class="title">冷光美白</div>
    <div class="current-type">
        <div class="current-type-title">亲爱的朋友</div>
        <div class="current-type-items beauty-items">
            <div class="current-desc">
                亲爱的朋友!
            </div>
            <div class="current-desc">
                你对自己现在的笑容满意吗?是否因为自己的牙齿黯淡发黑而不愿开怀大笑?当你经过正畸将牙齿排齐后，是否感到牙告的颜色发黄了呢?
            </div>
            <div class="current-desc">
                国际美学牙科评定牙齿美观的三要素是：健康状态、排列和颜色，只有三者共同实现才是真正的美。
            </div>
            <div class="current-desc">
                随着生活水平的提高大众开始通过洗牙去除牙结石、软垢，使牙齿和牙周达到健康状态；儿童及成人经过正畸治疗将牙齿排列整齐；
            </div>
            <div class="current-desc">
                但暗黄的牙齿颜色被忽略了，我们会让自己的牙齿像那件变色的白衬衫永远地穿在身上而不去理会吗?
            </div>
            <div class="current-desc">
                其实每个人都可以通过定期的美白治疗恢复洁白自信的笑容。
            </div>
            <div class="current-imgs single-img original-img">
                <div><img src="/img/up2.png"></div>
            </div>
        </div>
    </div>
</div>
<% include include-foot.php %>
<script src="js/lib/zepto/zepto.min.js" type="text/javascript"></script>
<script src="js/seajs/sea.js?v=1.0.0" data-config="config.js?v=1.0.0" data-main="main.js?v=1.0.0" id="seajsFile"></script>
</body>
</html>